body{
    color: #666;
}
.border_ccc{
    border-top: 1px solid #eee;
}
.banner{
    font-size: 16px;
    width: 80%;
    margin: 0px auto;
    background-color: #fff;
}
.banner .banner_left{
    width: 80%;
    height: auto;
    float: left;
}
.banner_left_content{
    width: 94%;
    margin: 20px auto;
    padding: 20px 0; 
    background-color: #f2f3f5;
}
.banner_content{
    width: 100%;
    text-indent: 2em;
    line-height: 220%;
    text-align: left;
    padding: 0 20px;
}
.banner .banner_right{
    padding: 10px 12px;
    text-align: left;
    float: left;
    width: 20%;
    height: auto;
    overflow: hidden;
}
.banner_right_content{
    width: 94%;
    margin: 0px auto;
    padding: 10px 0; 
}
.banner_right_content h4{
    font-weight: bold;
    color: #404040;
}
.banner_right ul li{
    margin: 12px 10px;
}
.banner_right ul li a{
    color: #666;
    text-decoration: none;
}
.banner_right ul li a:hover{
    color: red;
}