* {
    margin: 0 ;
    padding: 0;
}
body{
    color: #666666;
    font-family: 微软雅黑;
}
.d1_img {
    width: 1110px;
    height: 1550px;
    position: relative;
}
.di1 {
    width: 1110px;
    height: 1110px;
    position: absolute;
    top: 660px;
}
.di2 {
    width: 631px;
    height: 840px;
    background-color: #fff;
    margin: 0 auto;
}
.dip {
    font-size: 25px;
    font-weight: bold;
    color: #666666;
    padding: 15px 0 50px 40px;
}
.ds1 {
    font-size: 15px;
    margin-left: 40px;
}
.dt1 {
    margin-left: 40px;
    width: 300px;
    height: 30px;
}
.di3 {
    margin-top: 40px;
}
.ds2 {
    font-size: 15px;
    margin-left: 57px;
}
.dt2 {
    width: 300px;
    height: 30px;
    margin-left: 38px;
}
.ds3 {
    margin-left: 73px;
    font-size: 15px;
}
.dt3 {
    margin-left: 37px;
    width: 300px;
    height: 30px;
}
.ds4 {
    font-size: 15px;
    margin-left: 15px;
}
.dt4 {
    margin: -23px 0px 0px 147px;
}
.bt {
    width: 140px;
    height: 30px;
    margin-left: 5px;
}
.di4 {
    margin-top: 50px;
}
.dt5 {
    width: 120px;
    height: 30px;
    margin-left: 38px;
}
.di4_img {
    margin-left: 20px;
    margin-bottom: 50px;
}
.di5 {
    width: 140px;
    height: 30px;
    background-color: #169BD5;
    border-radius: 5px;
    text-align: center;
    margin-left: 60px;
}
.ds5 {
    color: #FFFFFF;
    line-height: 30px;
}
